/* mobile media query */

@media screen and (max-width: 576px){
    .navbar-area ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-area, .design-container{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    .run-text h1{
        font-size: 1.5rem;
        width: 100%;
    }
    .banner-text h1{
        font-size: 2rem;
    }
    .btn{
        padding: 1rem 0.7rem;
    }
    .btn-1{
        padding: 1rem 0.7rem;
    }
    .banner-img-text2{
        right: 55%;
    }
    .social-icon .color{
        display: none;
    }
    .social-icon i{
        display: block;
    }
    .box-area{
        grid-template-columns: repeat(1, 1fr);
    }
    .run-area{
        flex-direction: column;
    }
    .run-text{
        width: 100%;
    }
    .run-img{
        width: 100%;
    }
    .btn-2{
        padding: 1rem 5rem;
    }
    .training-content, .training-content2{
        grid-template-columns: 1fr;
    }
    .training-text h1{
        font-size: 1.5rem;
    }
    .bmi-cal{
        flex-direction: column;
    }
    .bmi-table{
        width: 100%;
    }
    input{
        width: 85%;
    }
    select{
        width: 97%;
    }
    .bmi-form h1{
        padding-top: 1rem;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
        width: 100%;
    }
    .btn-1{
        padding: 1rem 1.5rem;
    }
    .team-section{
        grid-template-columns: 1fr;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer1{
        width: 100%;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .hamburger{
        display: none;
    }
    .banner-area, .design-container{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    .box-area{
        grid-template-columns: repeat(2, 1fr);
    }
    .calculator-header{
        padding-left: 2.5rem;
    }
    .popular-text{
        width: 100%;
    }
    .popular-img{
        width: 100%;
    }
}