@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: black;
}
.container{
    width: 90%;
    margin: 2rem auto;
}
.bg-gray{
    /* background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(119, 119, 119, 0)); */
    background-image: linear-gradient(360deg, rgba(17, 17, 17, 0.4), rgba(119, 119, 199, 0), 100%);
    border-radius: 50%;
}
/* navbar area start */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-text{
    font-size: 2rem;
    font-weight: 500;
    color: #E6533C;
    font-style: italic;
}
.navbar-area ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
}
.nav-text span{
    background-color: #E6533C;
    padding: 0.6rem 1.1rem;
    border-radius: 30px;
    border: none;
}
.hamburger{
    color: white;
    font-size: 1.5rem;
    display: none;
}

/* banner area start */

.banner{
    padding: 30px 0;
}
.banner-area{
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
}
.banner-text{
    width: 50%;
    padding-top: 3rem;
}
.banner-text h1{
    color: white;
    font-size: 4rem;
    font-weight: 800;
}
.banner-text h1 span{
    font-style: italic;
    font-weight: 400;
}
.banner-text p{
    color: #8C8C8C;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 0;
}
.button{
   margin-top: 1.3rem;
   margin-bottom: 1.3rem;
}
.btn{
    color: white;
    background-color: #E6533C;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.btn-1{
    color: white;
    border: 1px solid white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px;
    background-color: transparent;
    margin-left: 15px;
}
.banner-img{
    position: relative;
}
.banner-img img{
    width: 100%;
}
.banner-img-text{
    color: white;
    background-color: #353535;
    text-align: left;
    padding: 1rem 1rem;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 60%;
}
.banner-img-text h2{
    font-size: 2rem;
    font-weight: 700;
}
.banner-img-text h4{
    font-size: 0.6rem;
    color: #8C8C8C;
}
.banner-img-text2{
    color: white;
    background-color: #353535;
    text-align: left;
    padding: 1rem 1rem;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 80%;
    right: 75%;
}
.social-icon i{
    background-color: #E6533C;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
}
.banner-img-text3 h3{
    font-size: 2rem;
    font-weight: 700;
}
.banner-img-text3 h4{
    font-size: 0.6rem;
    color: #8C8C8C;
}

/* habit-area section start */

.habit-area{
    color: white;
}
.habit-area h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.habit-area p{
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    color: #8C8C8C;
}
.box-area{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.box-img img{
    width: 100%;
    border-radius: 50%;
}
.box-text{
    color: white;
}
.box-text h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0.7rem;
}
.box-text p{
    text-align: center;
    font-size: 0.9rem;
    color: #8C8C8C;
    font-weight: 400;
    padding-top: 0.5rem;
}

/* run area section start */

.run{
    background-color: #222222;
    border-radius: 8px;
}
.run-area{
    margin: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-text{
    width: 45%;
    color: white;
}
.run-text h1{
    font-size: 2rem;
    padding-top: 0.5rem;
    font-weight: 800;
}
.run-text p{
    color: #8C8C8C;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight: 400;
}
.btn-2{
    color: white;
    background-color: #E6533C;
    border: none;
    padding: 1rem 4rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.run-img{
    width: 45%;
    margin: 1.5rem 1rem;
}
.run-img img{
    width: 100%;
    border-radius: 10px;
}

/* training-text section start */

.training img{
    width: 100%;
    height: 300px;
}
.training-text{
    color: white;
}
.training-text h1{
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 0;
}
.training-text p{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0;
    color: #8C8C8C;
}
.training-content{
    display: grid;
    grid-template-columns: 0.50fr 1fr 0.60fr;
    padding-top: 2rem;
}
.training-content2{
    display: grid;
    grid-template-columns: 0.90fr 0.50fr 0.60fr;
}
.training-img{
    width: 100%;
    position: relative;
}
.training-img .img{
    color: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));;
}
.text{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 10%;
}
.text2{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 10%;
}
.text3{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 10%;
}
.text4{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 70%;
}
.text5{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 10%;
}
.text6{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 70%;
    left: 10%;
}

/* calculator-header area start */

.calculator-header{
    color: white;
    padding-left: 16rem;
}
.calculator-header h1{
    font-size: 2rem; 
    font-weight: 800;
    padding: 0.5rem 0;
}
.calculator-header p{
    color: #8C8C8C;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}
.calculator-area{
    background-color: #222222;
    margin: 1rem 0;
}
.bmi-cal{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.bmi-table{
    width: 50%;
}
.bmi-table h1{
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 0;
}
.bmi-form h1{
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
    padding-top: 2rem;
}
.bmi-form p{
    font-size: 1rem;
    color: #777676;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}
input{
    width: 90%;
    padding: 0.9rem 1rem;
    background-color: #373737;
    margin: 0.5rem 0.2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #AFAFAF;
}
.input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.age{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
select{
    width: 100%;
    padding: 0.9rem 1rem;
    background-color: #373737;
    margin: 0.5rem 0.2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #AFAFAF;
}
.select{
    width: 100%;
    background-color: #373737;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #AFAFAF;
}
table{
    border-collapse: collapse;
}
td, tr, th{
    border: 1px solid #383838;
    padding: 1rem 2rem;
    color: #909090;
}


